.hcard1,
.hcard2,
.hcard3
{
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    user-select: none;
    padding: 0rem 2rem 0 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.1s ease-in;
    cursor: pointer;
 
    &__heading{
        color: white;
    }

    &__des{
        font-size: 1.3rem;
        color: white;
        padding-bottom: 5rem;
    }

    &__button{
        display: flex;
        justify-content: center;
        color: black;
        margin-top: 2rem;
        font-size: 1.5rem;
        width: 36%;
        padding: 0.3rem 0.6rem;
        background-color: white;
        margin-bottom: 5rem;
        transition: all 0.1s ease;
        cursor: pointer;

        &:hover{
            background-color: black;
            color: white;
        }
    }

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

  
}