.product{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    transition: all 0.1s ease-in;
    background-image: linear-gradient(to bottom right, rgba(195, 197, 248, 0.7), rgba(255, 255, 255, 0.5));


    &__image{
        width: 100%;
        height: 70%;
        background-size: cover;
        background-color: white;
        cursor: pointer;
    }

    &__des{
        font-size: 1.8rem;
        font-weight: 600;
        margin-left: 0.7rem;
    }

    &__price{
        font-size: 1.5rem;
        margin-left: 0.7rem;
    }

    &__button{
        position: absolute;
        font-size: 2rem;
        color: black;
        opacity: 0;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        transition: all 0.2s ease;

    
        &:active{
            color: red;
        }

    }

    &__message{
        font-size: 1.5rem;
    }

    &:hover{
        .product__button{
            opacity: 1;
        }
    }


}

.products-spacing{
    z-index: 10;
    height: 6rem;
    background-color: rgb(233, 228, 228);
}

.section-products{
    background-image: linear-gradient(to bottom right, rgba(21, 26, 190, 0.7), rgba(173, 173, 242, 0.5));
}

