.hcard1 {
  background-image: linear-gradient(to bottom right, rgba(6, 10, 130, 0.7), rgba(60, 60, 215, 0.5)), url("./components/images/hcard/card1.jpg");
  background-size: cover;
  background-position: center;

}

.hcard2 {
  background-image: linear-gradient(to bottom right, rgba(6, 10, 130, 0.7), rgba(60, 60, 215, 0.5)), url("./components/images/hcard/card2.jpg");
  background-size: cover;
  background-position: center;

}


.hcard3 {
  background-image: linear-gradient(to bottom right, rgba(6, 10, 130, 0.7), rgba(60, 60, 215, 0.5)), url("./components/images/hcard/card3.jpg");
  background-size: cover;
  background-position: center;

}